.show {
  display:block;
  transition: 800ms;
  opacity: 1;
  position: absolute;
}

.show.active {
  transform: translateY(100px) scale(0);
  opacity: 0;
}
.popup {
  border: 1px solid var(--blue-300);
  border-radius: 8px;
  background: var(--purple-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  padding: 1rem;
  transition: 1s;
}

.popup h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--white);
}

.popup input {
  background-color: var(--purple-900);
  color: var(--white);
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid var(--blue-300);
  border-radius: 50px;
  width: 30vw;
  height: 4vh;
  font-size: 1rem;
}

.handlerButtons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

}

.popup button[type="submit"] {
  width: 15rem;
  padding: 1rem;
  border: 1px solid var(--purple-900);
  border-radius: 50px;
  background: transparent;
  color: var(--white);
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup button[type="submit"]:hover {
  background: var(--purple-900);
}

.popup button[type="cancel"] {
  width: 15rem;
  padding: 1rem;
  border: 1px solid var(--purple-900);
  border-radius: 50px;
  background: transparent;
  color: var(--white);
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup button[type="cancel"]:hover {
  background: var(--purple-900);
}