:root {
  --white: #fff;
  --blue-300: #6481bf;
  --purple-500: #3c1b4b;
  --purple-700: #23102c;
  --purple-900: #1b0c21;
}
:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-300);
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display:grid;
  overflow: hidden;
  background: var(--purple-700);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}
button {
  font-size: 1rem;
}
